// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-members-1-name: 'sprite-members-1';
$sprite-members-1-x: 100px;
$sprite-members-1-y: 0px;
$sprite-members-1-offset-x: -100px;
$sprite-members-1-offset-y: 0px;
$sprite-members-1-width: 100px;
$sprite-members-1-height: 100px;
$sprite-members-1-total-width: 900px;
$sprite-members-1-total-height: 800px;
$sprite-members-1-image: '../img/gulp_png_sprite.png';
$sprite-members-1: (100px, 0px, -100px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-1', );
$sprite-members-10-name: 'sprite-members-10';
$sprite-members-10-x: 300px;
$sprite-members-10-y: 500px;
$sprite-members-10-offset-x: -300px;
$sprite-members-10-offset-y: -500px;
$sprite-members-10-width: 100px;
$sprite-members-10-height: 100px;
$sprite-members-10-total-width: 900px;
$sprite-members-10-total-height: 800px;
$sprite-members-10-image: '../img/gulp_png_sprite.png';
$sprite-members-10: (300px, 500px, -300px, -500px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-10', );
$sprite-members-11-name: 'sprite-members-11';
$sprite-members-11-x: 0px;
$sprite-members-11-y: 100px;
$sprite-members-11-offset-x: 0px;
$sprite-members-11-offset-y: -100px;
$sprite-members-11-width: 100px;
$sprite-members-11-height: 100px;
$sprite-members-11-total-width: 900px;
$sprite-members-11-total-height: 800px;
$sprite-members-11-image: '../img/gulp_png_sprite.png';
$sprite-members-11: (0px, 100px, 0px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-11', );
$sprite-members-12-name: 'sprite-members-12';
$sprite-members-12-x: 100px;
$sprite-members-12-y: 100px;
$sprite-members-12-offset-x: -100px;
$sprite-members-12-offset-y: -100px;
$sprite-members-12-width: 100px;
$sprite-members-12-height: 100px;
$sprite-members-12-total-width: 900px;
$sprite-members-12-total-height: 800px;
$sprite-members-12-image: '../img/gulp_png_sprite.png';
$sprite-members-12: (100px, 100px, -100px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-12', );
$sprite-members-13-name: 'sprite-members-13';
$sprite-members-13-x: 200px;
$sprite-members-13-y: 0px;
$sprite-members-13-offset-x: -200px;
$sprite-members-13-offset-y: 0px;
$sprite-members-13-width: 100px;
$sprite-members-13-height: 100px;
$sprite-members-13-total-width: 900px;
$sprite-members-13-total-height: 800px;
$sprite-members-13-image: '../img/gulp_png_sprite.png';
$sprite-members-13: (200px, 0px, -200px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-13', );
$sprite-members-14-name: 'sprite-members-14';
$sprite-members-14-x: 200px;
$sprite-members-14-y: 100px;
$sprite-members-14-offset-x: -200px;
$sprite-members-14-offset-y: -100px;
$sprite-members-14-width: 100px;
$sprite-members-14-height: 100px;
$sprite-members-14-total-width: 900px;
$sprite-members-14-total-height: 800px;
$sprite-members-14-image: '../img/gulp_png_sprite.png';
$sprite-members-14: (200px, 100px, -200px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-14', );
$sprite-members-15-name: 'sprite-members-15';
$sprite-members-15-x: 0px;
$sprite-members-15-y: 200px;
$sprite-members-15-offset-x: 0px;
$sprite-members-15-offset-y: -200px;
$sprite-members-15-width: 100px;
$sprite-members-15-height: 100px;
$sprite-members-15-total-width: 900px;
$sprite-members-15-total-height: 800px;
$sprite-members-15-image: '../img/gulp_png_sprite.png';
$sprite-members-15: (0px, 200px, 0px, -200px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-15', );
$sprite-members-16-name: 'sprite-members-16';
$sprite-members-16-x: 100px;
$sprite-members-16-y: 200px;
$sprite-members-16-offset-x: -100px;
$sprite-members-16-offset-y: -200px;
$sprite-members-16-width: 100px;
$sprite-members-16-height: 100px;
$sprite-members-16-total-width: 900px;
$sprite-members-16-total-height: 800px;
$sprite-members-16-image: '../img/gulp_png_sprite.png';
$sprite-members-16: (100px, 200px, -100px, -200px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-16', );
$sprite-members-17-name: 'sprite-members-17';
$sprite-members-17-x: 200px;
$sprite-members-17-y: 200px;
$sprite-members-17-offset-x: -200px;
$sprite-members-17-offset-y: -200px;
$sprite-members-17-width: 100px;
$sprite-members-17-height: 100px;
$sprite-members-17-total-width: 900px;
$sprite-members-17-total-height: 800px;
$sprite-members-17-image: '../img/gulp_png_sprite.png';
$sprite-members-17: (200px, 200px, -200px, -200px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-17', );
$sprite-members-18-name: 'sprite-members-18';
$sprite-members-18-x: 300px;
$sprite-members-18-y: 0px;
$sprite-members-18-offset-x: -300px;
$sprite-members-18-offset-y: 0px;
$sprite-members-18-width: 100px;
$sprite-members-18-height: 100px;
$sprite-members-18-total-width: 900px;
$sprite-members-18-total-height: 800px;
$sprite-members-18-image: '../img/gulp_png_sprite.png';
$sprite-members-18: (300px, 0px, -300px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-18', );
$sprite-members-19-name: 'sprite-members-19';
$sprite-members-19-x: 300px;
$sprite-members-19-y: 100px;
$sprite-members-19-offset-x: -300px;
$sprite-members-19-offset-y: -100px;
$sprite-members-19-width: 100px;
$sprite-members-19-height: 100px;
$sprite-members-19-total-width: 900px;
$sprite-members-19-total-height: 800px;
$sprite-members-19-image: '../img/gulp_png_sprite.png';
$sprite-members-19: (300px, 100px, -300px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-19', );
$sprite-members-2-name: 'sprite-members-2';
$sprite-members-2-x: 300px;
$sprite-members-2-y: 200px;
$sprite-members-2-offset-x: -300px;
$sprite-members-2-offset-y: -200px;
$sprite-members-2-width: 100px;
$sprite-members-2-height: 100px;
$sprite-members-2-total-width: 900px;
$sprite-members-2-total-height: 800px;
$sprite-members-2-image: '../img/gulp_png_sprite.png';
$sprite-members-2: (300px, 200px, -300px, -200px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-2', );
$sprite-members-20-name: 'sprite-members-20';
$sprite-members-20-x: 0px;
$sprite-members-20-y: 300px;
$sprite-members-20-offset-x: 0px;
$sprite-members-20-offset-y: -300px;
$sprite-members-20-width: 100px;
$sprite-members-20-height: 100px;
$sprite-members-20-total-width: 900px;
$sprite-members-20-total-height: 800px;
$sprite-members-20-image: '../img/gulp_png_sprite.png';
$sprite-members-20: (0px, 300px, 0px, -300px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-20', );
$sprite-members-21-name: 'sprite-members-21';
$sprite-members-21-x: 100px;
$sprite-members-21-y: 300px;
$sprite-members-21-offset-x: -100px;
$sprite-members-21-offset-y: -300px;
$sprite-members-21-width: 100px;
$sprite-members-21-height: 100px;
$sprite-members-21-total-width: 900px;
$sprite-members-21-total-height: 800px;
$sprite-members-21-image: '../img/gulp_png_sprite.png';
$sprite-members-21: (100px, 300px, -100px, -300px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-21', );
$sprite-members-22-name: 'sprite-members-22';
$sprite-members-22-x: 200px;
$sprite-members-22-y: 300px;
$sprite-members-22-offset-x: -200px;
$sprite-members-22-offset-y: -300px;
$sprite-members-22-width: 100px;
$sprite-members-22-height: 100px;
$sprite-members-22-total-width: 900px;
$sprite-members-22-total-height: 800px;
$sprite-members-22-image: '../img/gulp_png_sprite.png';
$sprite-members-22: (200px, 300px, -200px, -300px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-22', );
$sprite-members-23-name: 'sprite-members-23';
$sprite-members-23-x: 300px;
$sprite-members-23-y: 300px;
$sprite-members-23-offset-x: -300px;
$sprite-members-23-offset-y: -300px;
$sprite-members-23-width: 100px;
$sprite-members-23-height: 100px;
$sprite-members-23-total-width: 900px;
$sprite-members-23-total-height: 800px;
$sprite-members-23-image: '../img/gulp_png_sprite.png';
$sprite-members-23: (300px, 300px, -300px, -300px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-23', );
$sprite-members-24-name: 'sprite-members-24';
$sprite-members-24-x: 400px;
$sprite-members-24-y: 0px;
$sprite-members-24-offset-x: -400px;
$sprite-members-24-offset-y: 0px;
$sprite-members-24-width: 100px;
$sprite-members-24-height: 100px;
$sprite-members-24-total-width: 900px;
$sprite-members-24-total-height: 800px;
$sprite-members-24-image: '../img/gulp_png_sprite.png';
$sprite-members-24: (400px, 0px, -400px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-24', );
$sprite-members-25-name: 'sprite-members-25';
$sprite-members-25-x: 400px;
$sprite-members-25-y: 100px;
$sprite-members-25-offset-x: -400px;
$sprite-members-25-offset-y: -100px;
$sprite-members-25-width: 100px;
$sprite-members-25-height: 100px;
$sprite-members-25-total-width: 900px;
$sprite-members-25-total-height: 800px;
$sprite-members-25-image: '../img/gulp_png_sprite.png';
$sprite-members-25: (400px, 100px, -400px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-25', );
$sprite-members-26-name: 'sprite-members-26';
$sprite-members-26-x: 400px;
$sprite-members-26-y: 200px;
$sprite-members-26-offset-x: -400px;
$sprite-members-26-offset-y: -200px;
$sprite-members-26-width: 100px;
$sprite-members-26-height: 100px;
$sprite-members-26-total-width: 900px;
$sprite-members-26-total-height: 800px;
$sprite-members-26-image: '../img/gulp_png_sprite.png';
$sprite-members-26: (400px, 200px, -400px, -200px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-26', );
$sprite-members-27-name: 'sprite-members-27';
$sprite-members-27-x: 400px;
$sprite-members-27-y: 300px;
$sprite-members-27-offset-x: -400px;
$sprite-members-27-offset-y: -300px;
$sprite-members-27-width: 100px;
$sprite-members-27-height: 100px;
$sprite-members-27-total-width: 900px;
$sprite-members-27-total-height: 800px;
$sprite-members-27-image: '../img/gulp_png_sprite.png';
$sprite-members-27: (400px, 300px, -400px, -300px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-27', );
$sprite-members-28-name: 'sprite-members-28';
$sprite-members-28-x: 0px;
$sprite-members-28-y: 400px;
$sprite-members-28-offset-x: 0px;
$sprite-members-28-offset-y: -400px;
$sprite-members-28-width: 100px;
$sprite-members-28-height: 100px;
$sprite-members-28-total-width: 900px;
$sprite-members-28-total-height: 800px;
$sprite-members-28-image: '../img/gulp_png_sprite.png';
$sprite-members-28: (0px, 400px, 0px, -400px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-28', );
$sprite-members-29-name: 'sprite-members-29';
$sprite-members-29-x: 100px;
$sprite-members-29-y: 400px;
$sprite-members-29-offset-x: -100px;
$sprite-members-29-offset-y: -400px;
$sprite-members-29-width: 100px;
$sprite-members-29-height: 100px;
$sprite-members-29-total-width: 900px;
$sprite-members-29-total-height: 800px;
$sprite-members-29-image: '../img/gulp_png_sprite.png';
$sprite-members-29: (100px, 400px, -100px, -400px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-29', );
$sprite-members-3-name: 'sprite-members-3';
$sprite-members-3-x: 200px;
$sprite-members-3-y: 400px;
$sprite-members-3-offset-x: -200px;
$sprite-members-3-offset-y: -400px;
$sprite-members-3-width: 100px;
$sprite-members-3-height: 100px;
$sprite-members-3-total-width: 900px;
$sprite-members-3-total-height: 800px;
$sprite-members-3-image: '../img/gulp_png_sprite.png';
$sprite-members-3: (200px, 400px, -200px, -400px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-3', );
$sprite-members-30-name: 'sprite-members-30';
$sprite-members-30-x: 300px;
$sprite-members-30-y: 400px;
$sprite-members-30-offset-x: -300px;
$sprite-members-30-offset-y: -400px;
$sprite-members-30-width: 100px;
$sprite-members-30-height: 100px;
$sprite-members-30-total-width: 900px;
$sprite-members-30-total-height: 800px;
$sprite-members-30-image: '../img/gulp_png_sprite.png';
$sprite-members-30: (300px, 400px, -300px, -400px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-30', );
$sprite-members-31-name: 'sprite-members-31';
$sprite-members-31-x: 400px;
$sprite-members-31-y: 400px;
$sprite-members-31-offset-x: -400px;
$sprite-members-31-offset-y: -400px;
$sprite-members-31-width: 100px;
$sprite-members-31-height: 100px;
$sprite-members-31-total-width: 900px;
$sprite-members-31-total-height: 800px;
$sprite-members-31-image: '../img/gulp_png_sprite.png';
$sprite-members-31: (400px, 400px, -400px, -400px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-31', );
$sprite-members-32-name: 'sprite-members-32';
$sprite-members-32-x: 500px;
$sprite-members-32-y: 0px;
$sprite-members-32-offset-x: -500px;
$sprite-members-32-offset-y: 0px;
$sprite-members-32-width: 100px;
$sprite-members-32-height: 100px;
$sprite-members-32-total-width: 900px;
$sprite-members-32-total-height: 800px;
$sprite-members-32-image: '../img/gulp_png_sprite.png';
$sprite-members-32: (500px, 0px, -500px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-32', );
$sprite-members-33-name: 'sprite-members-33';
$sprite-members-33-x: 500px;
$sprite-members-33-y: 100px;
$sprite-members-33-offset-x: -500px;
$sprite-members-33-offset-y: -100px;
$sprite-members-33-width: 100px;
$sprite-members-33-height: 100px;
$sprite-members-33-total-width: 900px;
$sprite-members-33-total-height: 800px;
$sprite-members-33-image: '../img/gulp_png_sprite.png';
$sprite-members-33: (500px, 100px, -500px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-33', );
$sprite-members-34-name: 'sprite-members-34';
$sprite-members-34-x: 500px;
$sprite-members-34-y: 200px;
$sprite-members-34-offset-x: -500px;
$sprite-members-34-offset-y: -200px;
$sprite-members-34-width: 100px;
$sprite-members-34-height: 100px;
$sprite-members-34-total-width: 900px;
$sprite-members-34-total-height: 800px;
$sprite-members-34-image: '../img/gulp_png_sprite.png';
$sprite-members-34: (500px, 200px, -500px, -200px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-34', );
$sprite-members-35-name: 'sprite-members-35';
$sprite-members-35-x: 500px;
$sprite-members-35-y: 300px;
$sprite-members-35-offset-x: -500px;
$sprite-members-35-offset-y: -300px;
$sprite-members-35-width: 100px;
$sprite-members-35-height: 100px;
$sprite-members-35-total-width: 900px;
$sprite-members-35-total-height: 800px;
$sprite-members-35-image: '../img/gulp_png_sprite.png';
$sprite-members-35: (500px, 300px, -500px, -300px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-35', );
$sprite-members-36-name: 'sprite-members-36';
$sprite-members-36-x: 500px;
$sprite-members-36-y: 400px;
$sprite-members-36-offset-x: -500px;
$sprite-members-36-offset-y: -400px;
$sprite-members-36-width: 100px;
$sprite-members-36-height: 100px;
$sprite-members-36-total-width: 900px;
$sprite-members-36-total-height: 800px;
$sprite-members-36-image: '../img/gulp_png_sprite.png';
$sprite-members-36: (500px, 400px, -500px, -400px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-36', );
$sprite-members-37-name: 'sprite-members-37';
$sprite-members-37-x: 0px;
$sprite-members-37-y: 500px;
$sprite-members-37-offset-x: 0px;
$sprite-members-37-offset-y: -500px;
$sprite-members-37-width: 100px;
$sprite-members-37-height: 100px;
$sprite-members-37-total-width: 900px;
$sprite-members-37-total-height: 800px;
$sprite-members-37-image: '../img/gulp_png_sprite.png';
$sprite-members-37: (0px, 500px, 0px, -500px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-37', );
$sprite-members-38-name: 'sprite-members-38';
$sprite-members-38-x: 100px;
$sprite-members-38-y: 500px;
$sprite-members-38-offset-x: -100px;
$sprite-members-38-offset-y: -500px;
$sprite-members-38-width: 100px;
$sprite-members-38-height: 100px;
$sprite-members-38-total-width: 900px;
$sprite-members-38-total-height: 800px;
$sprite-members-38-image: '../img/gulp_png_sprite.png';
$sprite-members-38: (100px, 500px, -100px, -500px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-38', );
$sprite-members-39-name: 'sprite-members-39';
$sprite-members-39-x: 200px;
$sprite-members-39-y: 500px;
$sprite-members-39-offset-x: -200px;
$sprite-members-39-offset-y: -500px;
$sprite-members-39-width: 100px;
$sprite-members-39-height: 100px;
$sprite-members-39-total-width: 900px;
$sprite-members-39-total-height: 800px;
$sprite-members-39-image: '../img/gulp_png_sprite.png';
$sprite-members-39: (200px, 500px, -200px, -500px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-39', );
$sprite-members-4-name: 'sprite-members-4';
$sprite-members-4-x: 0px;
$sprite-members-4-y: 0px;
$sprite-members-4-offset-x: 0px;
$sprite-members-4-offset-y: 0px;
$sprite-members-4-width: 100px;
$sprite-members-4-height: 100px;
$sprite-members-4-total-width: 900px;
$sprite-members-4-total-height: 800px;
$sprite-members-4-image: '../img/gulp_png_sprite.png';
$sprite-members-4: (0px, 0px, 0px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-4', );
$sprite-members-40-name: 'sprite-members-40';
$sprite-members-40-x: 400px;
$sprite-members-40-y: 500px;
$sprite-members-40-offset-x: -400px;
$sprite-members-40-offset-y: -500px;
$sprite-members-40-width: 100px;
$sprite-members-40-height: 100px;
$sprite-members-40-total-width: 900px;
$sprite-members-40-total-height: 800px;
$sprite-members-40-image: '../img/gulp_png_sprite.png';
$sprite-members-40: (400px, 500px, -400px, -500px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-40', );
$sprite-members-41-name: 'sprite-members-41';
$sprite-members-41-x: 500px;
$sprite-members-41-y: 500px;
$sprite-members-41-offset-x: -500px;
$sprite-members-41-offset-y: -500px;
$sprite-members-41-width: 100px;
$sprite-members-41-height: 100px;
$sprite-members-41-total-width: 900px;
$sprite-members-41-total-height: 800px;
$sprite-members-41-image: '../img/gulp_png_sprite.png';
$sprite-members-41: (500px, 500px, -500px, -500px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-41', );
$sprite-members-42-name: 'sprite-members-42';
$sprite-members-42-x: 600px;
$sprite-members-42-y: 0px;
$sprite-members-42-offset-x: -600px;
$sprite-members-42-offset-y: 0px;
$sprite-members-42-width: 100px;
$sprite-members-42-height: 100px;
$sprite-members-42-total-width: 900px;
$sprite-members-42-total-height: 800px;
$sprite-members-42-image: '../img/gulp_png_sprite.png';
$sprite-members-42: (600px, 0px, -600px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-42', );
$sprite-members-43-name: 'sprite-members-43';
$sprite-members-43-x: 600px;
$sprite-members-43-y: 100px;
$sprite-members-43-offset-x: -600px;
$sprite-members-43-offset-y: -100px;
$sprite-members-43-width: 100px;
$sprite-members-43-height: 100px;
$sprite-members-43-total-width: 900px;
$sprite-members-43-total-height: 800px;
$sprite-members-43-image: '../img/gulp_png_sprite.png';
$sprite-members-43: (600px, 100px, -600px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-43', );
$sprite-members-44-name: 'sprite-members-44';
$sprite-members-44-x: 600px;
$sprite-members-44-y: 200px;
$sprite-members-44-offset-x: -600px;
$sprite-members-44-offset-y: -200px;
$sprite-members-44-width: 100px;
$sprite-members-44-height: 100px;
$sprite-members-44-total-width: 900px;
$sprite-members-44-total-height: 800px;
$sprite-members-44-image: '../img/gulp_png_sprite.png';
$sprite-members-44: (600px, 200px, -600px, -200px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-44', );
$sprite-members-45-name: 'sprite-members-45';
$sprite-members-45-x: 600px;
$sprite-members-45-y: 300px;
$sprite-members-45-offset-x: -600px;
$sprite-members-45-offset-y: -300px;
$sprite-members-45-width: 100px;
$sprite-members-45-height: 100px;
$sprite-members-45-total-width: 900px;
$sprite-members-45-total-height: 800px;
$sprite-members-45-image: '../img/gulp_png_sprite.png';
$sprite-members-45: (600px, 300px, -600px, -300px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-45', );
$sprite-members-46-name: 'sprite-members-46';
$sprite-members-46-x: 600px;
$sprite-members-46-y: 400px;
$sprite-members-46-offset-x: -600px;
$sprite-members-46-offset-y: -400px;
$sprite-members-46-width: 100px;
$sprite-members-46-height: 100px;
$sprite-members-46-total-width: 900px;
$sprite-members-46-total-height: 800px;
$sprite-members-46-image: '../img/gulp_png_sprite.png';
$sprite-members-46: (600px, 400px, -600px, -400px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-46', );
$sprite-members-47-name: 'sprite-members-47';
$sprite-members-47-x: 600px;
$sprite-members-47-y: 500px;
$sprite-members-47-offset-x: -600px;
$sprite-members-47-offset-y: -500px;
$sprite-members-47-width: 100px;
$sprite-members-47-height: 100px;
$sprite-members-47-total-width: 900px;
$sprite-members-47-total-height: 800px;
$sprite-members-47-image: '../img/gulp_png_sprite.png';
$sprite-members-47: (600px, 500px, -600px, -500px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-47', );
$sprite-members-48-name: 'sprite-members-48';
$sprite-members-48-x: 0px;
$sprite-members-48-y: 600px;
$sprite-members-48-offset-x: 0px;
$sprite-members-48-offset-y: -600px;
$sprite-members-48-width: 100px;
$sprite-members-48-height: 100px;
$sprite-members-48-total-width: 900px;
$sprite-members-48-total-height: 800px;
$sprite-members-48-image: '../img/gulp_png_sprite.png';
$sprite-members-48: (0px, 600px, 0px, -600px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-48', );
$sprite-members-49-name: 'sprite-members-49';
$sprite-members-49-x: 100px;
$sprite-members-49-y: 600px;
$sprite-members-49-offset-x: -100px;
$sprite-members-49-offset-y: -600px;
$sprite-members-49-width: 100px;
$sprite-members-49-height: 100px;
$sprite-members-49-total-width: 900px;
$sprite-members-49-total-height: 800px;
$sprite-members-49-image: '../img/gulp_png_sprite.png';
$sprite-members-49: (100px, 600px, -100px, -600px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-49', );
$sprite-members-5-name: 'sprite-members-5';
$sprite-members-5-x: 200px;
$sprite-members-5-y: 600px;
$sprite-members-5-offset-x: -200px;
$sprite-members-5-offset-y: -600px;
$sprite-members-5-width: 100px;
$sprite-members-5-height: 100px;
$sprite-members-5-total-width: 900px;
$sprite-members-5-total-height: 800px;
$sprite-members-5-image: '../img/gulp_png_sprite.png';
$sprite-members-5: (200px, 600px, -200px, -600px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-5', );
$sprite-members-50-name: 'sprite-members-50';
$sprite-members-50-x: 300px;
$sprite-members-50-y: 600px;
$sprite-members-50-offset-x: -300px;
$sprite-members-50-offset-y: -600px;
$sprite-members-50-width: 100px;
$sprite-members-50-height: 100px;
$sprite-members-50-total-width: 900px;
$sprite-members-50-total-height: 800px;
$sprite-members-50-image: '../img/gulp_png_sprite.png';
$sprite-members-50: (300px, 600px, -300px, -600px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-50', );
$sprite-members-51-name: 'sprite-members-51';
$sprite-members-51-x: 400px;
$sprite-members-51-y: 600px;
$sprite-members-51-offset-x: -400px;
$sprite-members-51-offset-y: -600px;
$sprite-members-51-width: 100px;
$sprite-members-51-height: 100px;
$sprite-members-51-total-width: 900px;
$sprite-members-51-total-height: 800px;
$sprite-members-51-image: '../img/gulp_png_sprite.png';
$sprite-members-51: (400px, 600px, -400px, -600px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-51', );
$sprite-members-52-name: 'sprite-members-52';
$sprite-members-52-x: 500px;
$sprite-members-52-y: 600px;
$sprite-members-52-offset-x: -500px;
$sprite-members-52-offset-y: -600px;
$sprite-members-52-width: 100px;
$sprite-members-52-height: 100px;
$sprite-members-52-total-width: 900px;
$sprite-members-52-total-height: 800px;
$sprite-members-52-image: '../img/gulp_png_sprite.png';
$sprite-members-52: (500px, 600px, -500px, -600px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-52', );
$sprite-members-53-name: 'sprite-members-53';
$sprite-members-53-x: 600px;
$sprite-members-53-y: 600px;
$sprite-members-53-offset-x: -600px;
$sprite-members-53-offset-y: -600px;
$sprite-members-53-width: 100px;
$sprite-members-53-height: 100px;
$sprite-members-53-total-width: 900px;
$sprite-members-53-total-height: 800px;
$sprite-members-53-image: '../img/gulp_png_sprite.png';
$sprite-members-53: (600px, 600px, -600px, -600px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-53', );
$sprite-members-54-name: 'sprite-members-54';
$sprite-members-54-x: 700px;
$sprite-members-54-y: 0px;
$sprite-members-54-offset-x: -700px;
$sprite-members-54-offset-y: 0px;
$sprite-members-54-width: 100px;
$sprite-members-54-height: 100px;
$sprite-members-54-total-width: 900px;
$sprite-members-54-total-height: 800px;
$sprite-members-54-image: '../img/gulp_png_sprite.png';
$sprite-members-54: (700px, 0px, -700px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-54', );
$sprite-members-55-name: 'sprite-members-55';
$sprite-members-55-x: 700px;
$sprite-members-55-y: 100px;
$sprite-members-55-offset-x: -700px;
$sprite-members-55-offset-y: -100px;
$sprite-members-55-width: 100px;
$sprite-members-55-height: 100px;
$sprite-members-55-total-width: 900px;
$sprite-members-55-total-height: 800px;
$sprite-members-55-image: '../img/gulp_png_sprite.png';
$sprite-members-55: (700px, 100px, -700px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-55', );
$sprite-members-56-name: 'sprite-members-56';
$sprite-members-56-x: 700px;
$sprite-members-56-y: 200px;
$sprite-members-56-offset-x: -700px;
$sprite-members-56-offset-y: -200px;
$sprite-members-56-width: 100px;
$sprite-members-56-height: 100px;
$sprite-members-56-total-width: 900px;
$sprite-members-56-total-height: 800px;
$sprite-members-56-image: '../img/gulp_png_sprite.png';
$sprite-members-56: (700px, 200px, -700px, -200px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-56', );
$sprite-members-57-name: 'sprite-members-57';
$sprite-members-57-x: 700px;
$sprite-members-57-y: 300px;
$sprite-members-57-offset-x: -700px;
$sprite-members-57-offset-y: -300px;
$sprite-members-57-width: 100px;
$sprite-members-57-height: 100px;
$sprite-members-57-total-width: 900px;
$sprite-members-57-total-height: 800px;
$sprite-members-57-image: '../img/gulp_png_sprite.png';
$sprite-members-57: (700px, 300px, -700px, -300px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-57', );
$sprite-members-58-name: 'sprite-members-58';
$sprite-members-58-x: 700px;
$sprite-members-58-y: 400px;
$sprite-members-58-offset-x: -700px;
$sprite-members-58-offset-y: -400px;
$sprite-members-58-width: 100px;
$sprite-members-58-height: 100px;
$sprite-members-58-total-width: 900px;
$sprite-members-58-total-height: 800px;
$sprite-members-58-image: '../img/gulp_png_sprite.png';
$sprite-members-58: (700px, 400px, -700px, -400px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-58', );
$sprite-members-59-name: 'sprite-members-59';
$sprite-members-59-x: 700px;
$sprite-members-59-y: 500px;
$sprite-members-59-offset-x: -700px;
$sprite-members-59-offset-y: -500px;
$sprite-members-59-width: 100px;
$sprite-members-59-height: 100px;
$sprite-members-59-total-width: 900px;
$sprite-members-59-total-height: 800px;
$sprite-members-59-image: '../img/gulp_png_sprite.png';
$sprite-members-59: (700px, 500px, -700px, -500px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-59', );
$sprite-members-6-name: 'sprite-members-6';
$sprite-members-6-x: 700px;
$sprite-members-6-y: 600px;
$sprite-members-6-offset-x: -700px;
$sprite-members-6-offset-y: -600px;
$sprite-members-6-width: 100px;
$sprite-members-6-height: 100px;
$sprite-members-6-total-width: 900px;
$sprite-members-6-total-height: 800px;
$sprite-members-6-image: '../img/gulp_png_sprite.png';
$sprite-members-6: (700px, 600px, -700px, -600px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-6', );
$sprite-members-60-name: 'sprite-members-60';
$sprite-members-60-x: 0px;
$sprite-members-60-y: 700px;
$sprite-members-60-offset-x: 0px;
$sprite-members-60-offset-y: -700px;
$sprite-members-60-width: 100px;
$sprite-members-60-height: 100px;
$sprite-members-60-total-width: 900px;
$sprite-members-60-total-height: 800px;
$sprite-members-60-image: '../img/gulp_png_sprite.png';
$sprite-members-60: (0px, 700px, 0px, -700px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-60', );
$sprite-members-61-name: 'sprite-members-61';
$sprite-members-61-x: 100px;
$sprite-members-61-y: 700px;
$sprite-members-61-offset-x: -100px;
$sprite-members-61-offset-y: -700px;
$sprite-members-61-width: 100px;
$sprite-members-61-height: 100px;
$sprite-members-61-total-width: 900px;
$sprite-members-61-total-height: 800px;
$sprite-members-61-image: '../img/gulp_png_sprite.png';
$sprite-members-61: (100px, 700px, -100px, -700px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-61', );
$sprite-members-62-name: 'sprite-members-62';
$sprite-members-62-x: 200px;
$sprite-members-62-y: 700px;
$sprite-members-62-offset-x: -200px;
$sprite-members-62-offset-y: -700px;
$sprite-members-62-width: 100px;
$sprite-members-62-height: 100px;
$sprite-members-62-total-width: 900px;
$sprite-members-62-total-height: 800px;
$sprite-members-62-image: '../img/gulp_png_sprite.png';
$sprite-members-62: (200px, 700px, -200px, -700px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-62', );
$sprite-members-63-name: 'sprite-members-63';
$sprite-members-63-x: 300px;
$sprite-members-63-y: 700px;
$sprite-members-63-offset-x: -300px;
$sprite-members-63-offset-y: -700px;
$sprite-members-63-width: 100px;
$sprite-members-63-height: 100px;
$sprite-members-63-total-width: 900px;
$sprite-members-63-total-height: 800px;
$sprite-members-63-image: '../img/gulp_png_sprite.png';
$sprite-members-63: (300px, 700px, -300px, -700px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-63', );
$sprite-members-64-name: 'sprite-members-64';
$sprite-members-64-x: 400px;
$sprite-members-64-y: 700px;
$sprite-members-64-offset-x: -400px;
$sprite-members-64-offset-y: -700px;
$sprite-members-64-width: 100px;
$sprite-members-64-height: 100px;
$sprite-members-64-total-width: 900px;
$sprite-members-64-total-height: 800px;
$sprite-members-64-image: '../img/gulp_png_sprite.png';
$sprite-members-64: (400px, 700px, -400px, -700px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-64', );
$sprite-members-65-name: 'sprite-members-65';
$sprite-members-65-x: 500px;
$sprite-members-65-y: 700px;
$sprite-members-65-offset-x: -500px;
$sprite-members-65-offset-y: -700px;
$sprite-members-65-width: 100px;
$sprite-members-65-height: 100px;
$sprite-members-65-total-width: 900px;
$sprite-members-65-total-height: 800px;
$sprite-members-65-image: '../img/gulp_png_sprite.png';
$sprite-members-65: (500px, 700px, -500px, -700px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-65', );
$sprite-members-66-name: 'sprite-members-66';
$sprite-members-66-x: 600px;
$sprite-members-66-y: 700px;
$sprite-members-66-offset-x: -600px;
$sprite-members-66-offset-y: -700px;
$sprite-members-66-width: 100px;
$sprite-members-66-height: 100px;
$sprite-members-66-total-width: 900px;
$sprite-members-66-total-height: 800px;
$sprite-members-66-image: '../img/gulp_png_sprite.png';
$sprite-members-66: (600px, 700px, -600px, -700px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-66', );
$sprite-members-7-name: 'sprite-members-7';
$sprite-members-7-x: 700px;
$sprite-members-7-y: 700px;
$sprite-members-7-offset-x: -700px;
$sprite-members-7-offset-y: -700px;
$sprite-members-7-width: 100px;
$sprite-members-7-height: 100px;
$sprite-members-7-total-width: 900px;
$sprite-members-7-total-height: 800px;
$sprite-members-7-image: '../img/gulp_png_sprite.png';
$sprite-members-7: (700px, 700px, -700px, -700px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-7', );
$sprite-members-8-name: 'sprite-members-8';
$sprite-members-8-x: 800px;
$sprite-members-8-y: 0px;
$sprite-members-8-offset-x: -800px;
$sprite-members-8-offset-y: 0px;
$sprite-members-8-width: 100px;
$sprite-members-8-height: 100px;
$sprite-members-8-total-width: 900px;
$sprite-members-8-total-height: 800px;
$sprite-members-8-image: '../img/gulp_png_sprite.png';
$sprite-members-8: (800px, 0px, -800px, 0px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-8', );
$sprite-members-9-name: 'sprite-members-9';
$sprite-members-9-x: 800px;
$sprite-members-9-y: 100px;
$sprite-members-9-offset-x: -800px;
$sprite-members-9-offset-y: -100px;
$sprite-members-9-width: 100px;
$sprite-members-9-height: 100px;
$sprite-members-9-total-width: 900px;
$sprite-members-9-total-height: 800px;
$sprite-members-9-image: '../img/gulp_png_sprite.png';
$sprite-members-9: (800px, 100px, -800px, -100px, 100px, 100px, 900px, 800px, '../img/gulp_png_sprite.png', 'sprite-members-9', );
$spritesheet-width: 900px;
$spritesheet-height: 800px;
$spritesheet-image: '../img/gulp_png_sprite.png';
$spritesheet-sprites: ($sprite-members-1, $sprite-members-10, $sprite-members-11, $sprite-members-12, $sprite-members-13, $sprite-members-14, $sprite-members-15, $sprite-members-16, $sprite-members-17, $sprite-members-18, $sprite-members-19, $sprite-members-2, $sprite-members-20, $sprite-members-21, $sprite-members-22, $sprite-members-23, $sprite-members-24, $sprite-members-25, $sprite-members-26, $sprite-members-27, $sprite-members-28, $sprite-members-29, $sprite-members-3, $sprite-members-30, $sprite-members-31, $sprite-members-32, $sprite-members-33, $sprite-members-34, $sprite-members-35, $sprite-members-36, $sprite-members-37, $sprite-members-38, $sprite-members-39, $sprite-members-4, $sprite-members-40, $sprite-members-41, $sprite-members-42, $sprite-members-43, $sprite-members-44, $sprite-members-45, $sprite-members-46, $sprite-members-47, $sprite-members-48, $sprite-members-49, $sprite-members-5, $sprite-members-50, $sprite-members-51, $sprite-members-52, $sprite-members-53, $sprite-members-54, $sprite-members-55, $sprite-members-56, $sprite-members-57, $sprite-members-58, $sprite-members-59, $sprite-members-6, $sprite-members-60, $sprite-members-61, $sprite-members-62, $sprite-members-63, $sprite-members-64, $sprite-members-65, $sprite-members-66, $sprite-members-7, $sprite-members-8, $sprite-members-9, );
$spritesheet: (900px, 800px, '../img/gulp_png_sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
